$primary-color-black: #000;
$filters-bg: #faf4f4;
$services-description: #9f9f9f;
$secondary-text-color: #9f9f9f;
$border-color: #d9d9d9;
$active_pag_bg: #fbebb5;
$inactive_pag_bg: #fff9e5;

:export {
	primaryblack: $primary-color-black;
}
