@import 'colors.module';

.nav_container {
	display: flex;
	justify-content: flex-end;
	background-color: #fff;
	width: 100%;
	padding: 2rem 50px;
	box-sizing: border-box;

	.nav_section {
		display: flex;
		align-items: center;
		gap: 8rem;

		.navicons_container,
		.navlinks_container {
			display: flex;
			list-style: none;
			font-size: 16px;
			gap: 2rem;
		}
	}

	.cart_container {
		position: relative;

		.cart_count {
			position: absolute;
			top: -10px;
			right: -8px;
			background-color: $active_pag_bg;
			color: $primary-color-black;
			width: 1.2rem;
			height: 1.2rem;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0.8rem;
			font-weight: 700;
		}
	}
}
