// styles/ProductView.module.scss
@import 'colors.module';

.productDetails_container {
	.breadcrumb_container {
		padding: 0rem 10%;
	}

	.productView {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
		padding: 4rem 10%;
	}

	.productViewLeft {
		/* Styles for the left section */
	}

	.productViewRight {
		/* Styles for the right section */
		.product_title {
			font-size: 1.5rem;
			font-weight: 500;
			color: $primary-color-black;
			text-transform: capitalize;
		}

		.product_price {
			font-size: 1.25rem;
			font-weight: 500;
			color: $secondary-text-color;
		}

		.product_description {
			font-size: calc(13 / 16 * 1rem);
			font-weight: 500;
			color: $primary-color-black;
		}

		.ratings_container {
			display: flex;
			gap: 1rem;
			color: $secondary-text-color;

			.texts {
				font-size: calc(13 / 16 * 1rem);
			}
		}
	}

	.imageGallery {
		display: flex;
		gap: 1rem;
	}

	.thumbnailContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
		gap: 10px;
	}

	.thumbnail {
		width: 70px;
		height: 70px;
		cursor: pointer;
	}

	.selectedThumbnail {
		border: 2px solid #ccc;
	}

	/***** Star rating styles *****/

	.star-rating {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 16px;
	}

	.star {
		margin-right: 4px;
		color: #ccc;
	}

	.star.filled {
		color: #ffda5b;
	}

	.star.half {
		color: #ffda5b;
	}

	/***** product sizes styles *****/
	.sizes_container {
		margin-top: 1rem;

		h4 {
			color: $secondary-text-color;
			font-weight: 400;
			font-size: 14px;
		}

		.product_sizes {
			display: flex;
			gap: 1rem;
			width: 100%;
			margin-top: 0.5rem;

			button {
				border: none;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 30px;
				font-size: 13px;
				border-radius: 4px;
			}

			.selected_size {
				background-color: #fbebb5;
				color: #000;
				padding: 0.5rem 1rem;
			}
			.product_size {
				padding: 0.5rem 1rem;
				color: #000;

				cursor: pointer;
				background-color: #faf4f4;
			}
		}
	}

	/***** product colors styles *****/

	.colors_container {
		margin-top: 1rem;

		h4 {
			color: $secondary-text-color;
			font-weight: 400;
			font-size: 14px;
		}

		.product_colors {
			margin-top: 0.5rem;
			display: flex;
			gap: 1rem;
			width: 100%;

			button {
				border: none;
				border-radius: 100%;
				height: 30px;
				color: #fff;
				width: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.divider {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	/***** product quantity styles *****/

	.cart_quantity {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-top: 1rem;

		.quantity_container {
			display: flex;
			border: 1px solid #000;
			border-radius: 10px;
			padding: 0.4rem 0.5rem;
			width: auto;

			input {
				border: none;
				width: 50px;
				text-align: center;
			}

			input:focus {
				outline: none;
			}
		}

		button {
			border: 1px solid #000;
			background-color: transparent;
			cursor: pointer;
			border-radius: 10px;
			padding: 0.5rem 2rem;
			color: $primary-color-black;
			font-size: 1.2rem;
		}
	}

	/***** product description styles *****/

	.bottom_details {
		margin-top: 2rem;

		.details_container {
			display: flex;
			gap: 1rem;
			color: $secondary-text-color;
			text-transform: capitalize;
			margin: 6px 0;
			align-items: center;
		}

		.socials {
			display: flex;
			gap: 1rem;
			align-items: center;
		}
	}

	.description_container {
		padding: 2rem 10%;

		.description_texts {
			padding: 2rem 8%;
		}

		p {
			color: $secondary-text-color;
		}

		.description_images {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			box-sizing: border-box;
			flex-wrap: wrap;
			gap: 1rem;
			margin-top: 2rem;
		}
	}

	/***** Related products styles *****/

	.related_products_container {
		padding: 2rem 10%;
		.related_images {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 2rem;
			margin-top: 2rem;
			list-style: none;
		}

		a {
			color: $primary-color-black;
		}

		.view_container {
			display: flex;
			justify-content: center;
			margin: 2rem 0;
		}

		.view_btn {
			border-bottom: 1px solid #000;
			font-weight: 500;
			font-size: 1.25rem;
		}
	}
}
