@import 'colors.module';
@import '_breakpoints.scss';

.filters_bg {
	background-color: $filters-bg;
	display: flex;
	margin-top: 3rem;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: 1rem;

	@include xs {
		padding: 1rem;
		position: fixed;
		bottom: 0;
		z-index: 100;
	}

	@include lg {
		padding: 2rem 4rem;
		position: static;
	}

	.showing {
		@include xs {
			display: none;
		}

		@include lg {
			display: contents;
		}
	}

	article {
		display: flex;
		gap: 1rem;

		.short_by {
			@include xs {
				display: none;
			}

			@include lg {
				display: contents;
			}
		}

		div {
			display: flex;
			gap: 1rem;

			.filter_text {
				font-size: 16px;
				font-weight: 400;
				color: $primary-color-black;
			}
		}

		.label_input {
			display: flex;
			gap: 1rem;
			align-items: center;

			.show_input {
				width: 16px;
				height: 25px;
				padding: 0.5rem 1rem;
			}

			.short_input {
				height: 25px;
				padding: 0.5rem 1rem;
				width: 100px;
			}

			input {
				border: none;
			}

			input:focus {
				outline: none;
			}
		}
	}
}

// styles for the loading spinner container
.products_loading_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 100%;
}

.products {
	display: grid;
	list-style: none;
	gap: 2rem;

	@include xs {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		padding: 3rem 1rem;
	}

	@include sm {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	@include lg {
		grid-template-columns: repeat(4, minmax(0, 1fr));
		padding: 4rem 10%;
	}

	.product {
		h4 {
			font-weight: 400;
		}

		p {
			font-weight: 500;
		}
	}

	a {
		text-decoration: none;
		color: $primary-color-black;
	}
}

.pagination_container {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	padding: 1rem 0;
	margin-bottom: 3rem;

	ul {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	button {
		padding: 0.5rem 1rem;
		border: none;
		font-size: 1rem;
	}

	.pag_btn {
		background-color: $inactive_pag_bg;
	}

	.active_btn {
		background-color: $active_pag_bg;
	}
}
