@import 'colors.module';

.filters_bg {
	background-color: $filters-bg;
	display: flex;
	margin-top: 3rem;
	align-items: center;
	width: 100%;
	padding: 2rem 4rem;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: 1rem;

	article {
		display: flex;
		gap: 1rem;

		div {
			display: flex;
			gap: 1rem;

			.filter_text {
				font-size: 16px;
				font-weight: 400;
				color: $primary-color-black;
			}
		}

		.label_input {
			display: flex;
			gap: 1rem;
			align-items: center;

			.show_input {
				width: 16px;
				height: 25px;
				padding: 0.5rem 1rem;
			}

			.short_input {
				height: 25px;
				padding: 0.5rem 1rem;
				width: 100px;
			}

			input:focus {
				outline: none;
			}
		}
	}
}

.products {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	list-style: none;
	padding: 4rem 10%;
	gap: 1rem;

	.product {
		h4 {
			font-weight: 400;
		}

		p {
			font-weight: 500;
		}
	}

	a {
		text-decoration: none;
		color: $primary-color-black;
	}
}

.pagination_container {
	display: flex;
	align-items: center;
	gap: 1rem;
}
